.shah{
    color: blueviolet;
}

.rukh{
    background-color: yellow;
}

.khan{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#myId{
    background-color: black;
}

.mv{
    color: blue;
    padding: 20px;
    margin: 20px;
}